# ExifTool user-defined XMP namespace for the Chinese AIGC implicit label
# (GB 45438-2025 / TC260 practice guide): xmlns:TC260="http://www.tc260.org.cn/ns/AIGC/1.0/",
# property TC260:AIGC holding a JSON string. ExifTool 13.55 has no built-in table for it.
%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        TC260 => {
            SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::TC260' },
        },
    },
);
%Image::ExifTool::UserDefined::TC260 = (
    GROUPS    => { 0 => 'XMP', 1 => 'XMP-TC260', 2 => 'Image' },
    NAMESPACE => { 'TC260' => 'http://www.tc260.org.cn/ns/AIGC/1.0/' },
    WRITABLE  => 'string',
    AIGC      => { },
);
1;
